<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="defaults()">
    <i class="glyphicon glyphicon-plus"></i>
    Create New platform
</button>
<br /><br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>TeamId</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="platform in platforms track by $index">
            <td>{{$index + 1}}</td>
            <td>{{platform.name}}</td>
            <td>{{platform.teamId}}</td>
            <td>
                <button type="button" class="btn btn-link" ng-click="editPlatform($index)" data-toggle="modal" data-target="#myModal">
                    <i class=" glyphicon glyphicon-pencil">
                    </i>
                    Edit
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-link" ng-click="deletePlatform($index)">
                    <i class="glyphicon glyphicon-trash"></i>
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>






<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form name="platform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Platform</h4>
                    <input type="hidden" ng-model="platform.id" />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtName">Name</label>
                        <input type="text" class="form-control" id="txtName" name="txtName" maxlength="50" ng-model="platform.name" ng-required="true">
                        <span ng-show="platform.txtName.$touched && platform.txtName.$invalid">Please enter name</span>
                    </div>
                    <div class="form-group">
                        <label for="txtTeamId">TeamId:</label>
                        <input type="text" class="form-control" id="txtTeamId" name="txtTeamId" ng-model="platform.teamId" ng-required="true">
                        <span ng-show="platform.txtTeamId.$touched && platform.txtTeamId.$invalid">Please enter Team Id</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="platform.$invalid" ng-click="addPlatform()" data-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>




















































































































